@config "../tailwind.config.js";
@import "tailwindcss";

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-bg: #191919;
    --color-nav: rgba(31, 31, 32, 0.85);
    --color-nav-item: rgba(71, 71, 75, 0.3);
    --color-nav-item-hover: rgba(71, 71, 75, 0.4);
    --color-nav-item-selected: rgba(71, 71, 75, 0.55);
    --color-nav-item-title: rgba(255, 255, 255, 0.4);
    --color-btn-hover: rgba(255, 255, 255, 0.05);
    --color-btn-text-unselected: rgba(255, 255, 255, 0.9);
    --color-header-text-is-not-last: rgba(255, 255, 255, 0.6);
    --fill-icon-primary: rgba(255, 255, 255, 0.4);
    --text-size-small: 12px;
    --text-size-medium: 14px;
    --text-size-large: 16px;
}

.corner-rounded {
    corner-shape: superellipse(1.75);
}

.card-num {
    font-size: 32px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.4px;
}

.styledbtn {
    background-color: var(--color-nav-item) !important;
    border-radius: 10px !important;
}

.nav-scroll-area {
    scrollbar-width: none;
}

.nav-scroll-area::-webkit-scrollbar {
    display: none;
}

.dashboard-tabs-list {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.rt-BaseTabList {
    --accent-indicator: #ffffff !important;
}

@supports (text-autospace: normal) {
    html,
    body {
        text-autospace: normal;
    }
}

html,
body {
    color-scheme: dark;
}
